<header>
    <nav class="navbar navbar-light bg-dark">
          <span class="navbar-brand mb-0 h1 text-light"><%= link_to "Navbar", "/" %></span>
          <% if teacher_signed_in? %>
              <%= link_to "ログアウト", "/teachers/sign_out", method: "delete", class: "btn btn-outline-danger ml-auto" %>
          <% end %>
          <% if @current_student %>
              <%= link_to @current_student.name, stu_mypage_path, class: "btn btn-success ml-auto" %>
              <%= link_to "ログアウト", stu_logout_path, method: "delete", class: "btn btn-danger ml-5" %>
          <% end %>
          
          <%= link_to "Teacher", new_teacher_session_path, class: "btn btn-warning ml-auto" %>
          <%= link_to "Student", stu_login_path, class: "btn btn-primary ml-3" %>
    </nav>

</header>