<section class="home-total-ranking">
    
    
    
  <table class="rank-table">
    <thead>
      <tr>
        <th scope="col" class="rank-row">順位</th>
        <th scope="col" class="rank-row">1:点数</th>
      </tr>
    </thead>
    <tbody>
      <% @type_scores[1].each.with_index do |score, i| %>
        <% if i >= 3 %>
        <%  break  %>
        <% end %>
        <tr>
          <th scope="row" class="rank-row"><%= i + 1 %>位</th>
          <td class="rank-row rank-score-row"><%= score %>点</td>
        </tr>
      <% end %>
    </tbody>
    </table>
    
    
    
    
    
  <table class="rank-table">
      <thead>
      <tr>
        <th scope="col" class="rank-row">順位</th>
        <th scope="col" class="rank-row">2:点数</th>
      </tr>
    </thead>
    <tbody>
      <% @type_scores[2].each.with_index do |score, i| %>
        <% if i >= 3 %>
        <%  break  %>
        <% end %>
        <tr>
          <th scope="row" class="rank-row"><%= i + 1 %>位</th>
          <td class="rank-row rank-score-row"><%= score %>点</td>
        </tr>
      <% end %>
    </tbody>
    </table>
    
    
    
    
    
    
  <table class="rank-table">
    <thead>
      <tr>
        <th scope="col" class="rank-row">順位</th>
        <th scope="col" class="rank-row">3:点数</th>
      </tr>
    </thead>
    <tbody>
      <% @type_scores[3].each.with_index do |score, i| %>
        <% if i >= 3 %>
        <%  break  %>
        <% end %>
        <tr>
          <th scope="row" class="rank-row"><%= i + 1 %>位</th>
          <td class="rank-row rank-score-row"><%= score %>点</td>
        </tr>
      <% end %>
    </tbody>
  </table>
   
    
    
    
    
  <table class="rank-table">
    <thead>
      <tr>
        <th scope="col" class="rank-row">順位</th>
        <th scope="col" class="rank-row">4:点数</th>
      </tr>
    </thead>
    <tbody>
      <% @type_scores[4] = [1] %>
      <% @type_scores[4].each.with_index do |score, i| %>
        <% if i >= 3 %>
        <%  break  %>
        <% end %>
        <tr>
          <th scope="row" class="rank-row"><%= i + 1 %>位</th>
          <td class="rank-row rank-score-row"><%= score %>点</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  
  
  
  
  
  
</section>