<h1>生徒　ログインフォーム</h1>

<%= form_for( :session, method: "post", url: stu_login_path) do |f| %>
    
    <div class="form-group">
        <%= f.label :name, "生徒名" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <%= f.submit "ログイン", class: "btn btn-outline-dark" %>

<% end %>    

<%= link_to "新規登録をする", new_student_path, class: "btn btn-dark mt-3" %>

@tanaka = Student.find_by(name: "tanaka")